<VirtualHost _default_:80>
	DocumentRoot {{ app_document_root }}

	<filesMatch "\.(js|html|css|php)$">
		SetOutputFilter DEFLATE
	</filesMatch>

	<Directory {{ app_document_root }}>
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>
